
.patient-container {
  margin-left: 17rem; 
  transition: 0.5s margin-left; 
  margin-top: 5px;
 
}

.column-names-container {
  display: flex;
  justify-content: space-around;
  width: 98%;
  padding: 10px;
  background-color: #f2f2f2;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1); 
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1; 
  margin-top: 5px;

}

.column-name {
  flex: 1;
  text-align: left;
}

.data-container {
  box-shadow: 0 5px 5px 6px rgba(0, 0, 0, 0.1); 
  max-width: 1400px;
  margin-top: 8px; 
  overflow-y: auto; 
  max-height: calc(98vh - 150px); 
}

.patient-row {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  border-radius:  10px ; 
}

.patient-data {
  flex: 1;
  text-align: left;
}

.patient-actions {
  display: flex;
}

.action-button {
  margin-right: 10px;
  padding: 6px 8px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}


.action-button:hover {
  background-color: #ddd;
}

.action-button:focus {
  outline: none;
}

.action-button:active {
  background-color: #ccc;
}
.patient-row:hover {
  background-color: #f2f2f2; 
}
/* Assuming this CSS is in a file named "MyComponent.css" */

.header-part {
  display: flex;
  align-items: center;
}

.recent-options {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: white;
  padding: 11px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.recent-options:hover {
  background-color: #2980b9;
}

.new-patient-button {
  background-color: #3498db;
  border-color: #17a2b8;
  color: white;
  padding: 9px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.new-patient-button:hover {
  background-color: #2980b9;
}

.hedaer-primary-button:hover {
  background-color: #2980b9;
}
.hedaer-primary-button {
  border: none;
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: #fff;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
  padding: 10px;
}
/* 
.header-search-bar-container {
  display: flex;
} */

.hedaer-search-bar-container input[type="text"] {
  padding: 10px;
  font-size: 16px; 
  border: 1px solid #ccc;
  width: 360px; 
}

.header-search-button {
  padding: 10px 16px;
  font-size: 16px; 
  border: none;
  background-color: #1ab394;
  border-color: #1ab394;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.header-search-content {
  display: flex;
  align-items: left;
}
.top-content{
  display: flex;
  justify-content: space-between;
}
.header-content{
  margin-right: 10px;
}
