/* 
.bank-items label {
  margin-bottom: 5px;
  font-weight: bold; 
}

.bank-items input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-left: 30px;
  margin-top: 10px;
}
.bank-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
} */



.bank-items {
  margin-bottom: 10px;
}

.bank-items label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}


.bank-items input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 5px;
  width: 60%;
}
.bank-items select{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 5px;
  width: 64%;
}
