.reviewmodal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Adjust the z-index value as needed */
  }
  
  .reviewmodal-content {
    background-color: white;
    margin-left: 200px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    position: relative; /* Ensure relative positioning for z-index to work */
    z-index: 1001; /* Higher z-index value than the overlay */
    width: 70%; /* Adjust the width as needed */
    height: 55%; /* Adjust the max height as needed */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
  }
  .reviewmodal-title{
    color: #28a745; 
  }
  .review-table {
    display: flex;
    flex-direction: column;
  }
  
  .column-names {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    font-weight: 600;
  }
  
  .review-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  
  .review-action-buttons {
    display: flex;
    gap: 10px;
  }
  .edit-ip-case-button{
    color: white;
    background-color: #f8ac59;
    border-color: #ffc107;
    border-radius: 5px;
    height: 35px;
    color: black;
   }
   .edit-ip-case-button:hover {
    background-color: #997813;
  }
  .register-new-ipcase-button{
    color: white;
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 5px;
    height: 35px;
   }
   .register-new-ipcase-button:hover {
    background-color: #0d882a;
  }
  .divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }
  